NODE_ENV=production
LOG_LEVEL=debug
PORT=3000
BASE_URL=https://keyserver
HTTP_SECURITY_HEADER=true
CSP_HEADER=true
SYSLOG_HOST=''
SYSLOG_PORT=''
MONGO_URI=mongodb:27017/keyserver_db
MONGO_USER=keyserver
MONGO_PASS=changeme
MONGO_INITDB_DATABASE=keyserver_db
SENDER_NAME=Politiets IT-enhet Key Server
SENDER_EMAIL=changeme
SMTP_HOST=changeme
SMTP_PORT=587
SMTP_TLS=false
SMTP_STARTTLS=true
SMTP_PGP=''
SMTP_USER=''
SMTP_PASS=''
PUBLIC_KEY_PURGE_TIME=30
