<%- include('header.html', {page: 'home'}) %>

<main id="main" class="container page">

  <div class="hero">
    <h1>Secure. Easy.</h1>
    <p class="lead">The OpenPGP public key directory of Politiets IT-enhet. It allows automatic public key lookup to make email encryption <strong>just as painless as modern messengers</strong>.</p>
    <p><a class="btn btn-primary btn-lg" href="/manage.html" role="button">Upload or look up a key</a></p>
  </div>

  <div class="row card-grid">
    <div class="col-md-6">
      <div class="card">
        <h4>Privacy made easy</h4>
        <p class="card-muted">Automatic key lookup in OpenPGP mail user agents makes reading and writing encrypted email just as painless as modern messengers.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4>Verify yourself</h4>
        <p class="card-muted">The server verifies email address ownership as well as private key ownership by sending an encrypted verification email.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4>No Web of Trust</h4>
        <p class="card-muted">No more key signing parties or publishing your social network online. You can even delete your public key at any time. <a href="https://github.com/mailvelope/keyserver/blob/master/README.md#why-not-use-web-of-trust" target="_blank" rel="noopener">Learn more</a></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4>Secure REST API</h4>
        <p class="card-muted">The server offers a modern REST API over HTTPS with HSTS that can be integrated into any app architecture. <a href="https://github.com/mailvelope/keyserver/blob/master/README.md#rest-api" target="_blank" rel="noopener">Learn more</a></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4>HKP compatible</h4>
        <p class="card-muted">No need to change your current OpenPGP plugin. Copy <code>hkps://keyserver</code> into your settings and go. <a href="https://github.com/mailvelope/keyserver/blob/master/README.md#hkp-api" target="_blank" rel="noopener">Learn more</a></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h4>Completely open</h4>
        <p class="card-muted">Built on the AGPL v3.0 licensed <a href="https://github.com/mailvelope/keyserver" target="_blank" rel="noopener">Mailvelope key server</a>, operated by Politiets IT-enhet.</p>
      </div>
    </div>
  </div>

</main>

<%- include('footer.html') %>
